# --- POSGRES CONFIGURATION ---
POSTGRES_USER=tubeguardian
POSTGRES_PASSWORD=password
POSTGRES_DB=tubeguardian_db
POSTGRES_PORT=5432

# --- QDRANT CONFIGURATION ---
QDRANT_PORT=6333

# --- RABBITMQ CONFIGURATION ---
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_UI_PORT=15672
RABBITMQ_PORT=5672