# --- SYSTEM ---
APP_VERSION=latest

# --- EXTERNAL_API ---
GOOGLE_GENAI_API_KEY=your_google_gemini-api_key_here

# --- POSGRES CONFIGURATION ---
POSTGRES_USER=tubeguardian
POSTGRES_PASSWORD=password
POSTGRES_DB=tubeguardian_db

# --- MS DB CREDENTIALS ---
MS_ORCHESTRATOR_USER=ms_orchestrator
MS_ORCHESTRATOR_PASSWORD=ms_orchestrator_password
MS_POLICY_ENGINE_USER=ms_policy_engine
MS_POLICY_ENGINE_PASSWORD=ms_policy_engine_password

# --- RABBITMQ CONFIGURATION ---
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

## --- PORT MAPPING ---
POSTGRES_PORT=5432
QDRANT_PORT=6333
RABBITMQ_UI_PORT=15672
RABBITMQ_PORT=5672